<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - DevTrack.Web</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/App/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/App/css/adminlte.min.css">
    <link rel="stylesheet" href="~/App/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/custom-css/custom.css">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="max-vh-100">
    <div class="login-page gradient-background">
        <!-- Main content -->
        <section class="content">
            @RenderBody()
        </section>
        <!-- /.content -->
    </div>
    <footer class="main-footer w-100 ml-0">
        <div class="container-fluid">
            &copy; 2022 - DevTrack.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/App/plugins/jquery/jquery.min.js"></script>
    <script src="~/App/plugins/overlayScrollbars/js/OverlayScrollbars.min.js"></script>
    <script src="~/App/js/adminlte.js"></script>
    <script src="~/App/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>