@model PasswordEditModel

@{
    ViewData["Title"] = "Change Password";
}

<div class="row pt-3">
    <div class="col-6">
        <!-- Change Password Form -->
        <form asp-antiforgery="true" asp-action="ChangePassword" 
            asp-area="App" asp-controller="Settings" method="post">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                <label asp-for="OldPassword" class="col-form-label">Current Password</label>
                            </td>
                            <td>
                                <input type="password" class="form-control" id="inputPassword" asp-for="OldPassword" placeholder="Please enter your current password">
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="NewPassword" class="col-form-label">New Password</label>
                            </td>
                            <td>
                                <input type="password" class="form-control" id="inputNewPassword" asp-for="NewPassword" placeholder="Please enter your current password">
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="ConfirmPassword" class="col-form-label">Confirm New Password</label>
                            </td>
                            <td>
                                <input type="password" class="form-control" id="inputNewConfirmPassword" asp-for="ConfirmPassword" placeholder="Please confirm new password">
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-primary btn-block" type="submit">Change Password</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}